p.CreateButton, p.YearDropdown {
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0;
    font-weight: bold;
}
p.CreateButton { float: right; }
p.YearDropdown { float: left; }
p.CreateButton a:hover { text-decoration: none; }
tr.ClassroomRow { font-weight: bold; color: #FBFBFB; background-color: #CCC; }
ul.ClassroomLinks { float: right; }
ul.ClassroomLinks li { display: inline; color: #428bca; padding-left: 20px; }
ul.ClassroomLinks li:hover, ul.ClassroomLinks li a:hover { cursor: pointer; text-decoration: none; color: white; }
tr.ClassroomRow td span.Header:hover, tr.ClassroomRow td span.AddAssessment:hover { cursor: pointer; color: #428bca; }
tr.ClassroomRow td span.AddAssessment { display: none; }
tr.ClassroomRow td span.AddAssessment:hover { cursor: pointer; color: #428bca; }
tr.ClassroomRow td span.AddAssessment, tr.ClassroomRow td span.EditClassroom { float: right; }
tr.AssessmentRow { background-color: #DDD; display: none; }
tr.AssessmentRow td { padding-left: 20px; }
span.AssessmentEditLink { float: right; }