@model Marking.ViewModels.StudentListVM.StudentListVMMark
@{
    List<String> values = new List<String>();
    if(Model.Value != null) {
        values = new List<String>(Model.Value.Split('|'));
    }
}
@foreach (var option in Model.Options)
{
    <input type="checkbox" name="Criterion_@(Model.CriterionID)_@(Model.StudentID)[]" id="Criterion_@(Model.CriterionID)_@(Model.StudentID)_@(option.Key)" value="@(option.Key)" @(values.Contains(option.Key) ? Html.Raw("checked='checked'").ToString() : "") />
    <label for="Criterion_@(Model.CriterionID)_@(Model.StudentID)_@(option.Key)">@(option.Value)</label><br />
}