@model Marking.ViewModels.AssessmentCreateEditVM.Attachment
@using HtmlHelpers.BeginCollectionItem
@using (Html.BeginCollectionItem("Attachments"))
{
    <div class="AttachmentRow">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Removed, new { @class = "AttachmentRemoved" });
        @Html.ActionLink(Model.Title, "Attachments", "Download", new { FileID = Model.ID }, null)
        <span>@(Model.DateCreated)</span>
        <a href="javascript:void(0)" class="RemoveAttachment">Remove</a>
    </div>
}

