table#StudentTable tr.StudentRow { font-weight: bold; color: #FBFBFB; background-color: #CCC; }
table#StudentTable tr.CriteriaRow { background-color: #DDD; }
table#StudentTable tr.StudentRow:hover { cursor: pointer; color: #428bca; }